<html>
  <head>
 
  </head>
  <body>
      <button onclick="openFullscreen();">Open streaming in Fullscreen Mode</button>

    <img id="bg" src="{{ url_for('video_feed') }}">
    <script>

        var img = document.getElementById("bg");
        function openFullscreen() {
          if (img.requestFullscreen) {
            img.requestFullscreen();
          } else if (img.mozRequestFullScreen) { /* Firefox */
            img.mozRequestFullScreen();
          } else if (img.webkitRequestFullscreen) {
                       /* Chrome, Safari & Opera */
            img.webkitRequestFullscreen();
          } else if (img.msRequestFullscreen) { /* IE/Edge */
            img.msRequestFullscreen();
          }
        }
        </script>
  </body>
</html>
